html {
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 2em;
  background-color: ;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 1.5rem;
}


h1 img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background:#960062 ;
}

nav {
  color:#eccee2;
  text-transform: uppercase;
  border-width: 1px;
  border-style: solid;
  text size: 1.125rem;
  display: grid;
  grid-template-columns: 1fr, 1fr;
}

li, a, h3 {
  font-family: "PT Sans Narrow";
}

p {
  font-family: "Georgia";
  font-size: 0.875rem;
}

h2 {
  font-size: 1.25rem;
}

.main, ul {
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
}

ul li {
  padding: 1rem;
  line-height: 1.5;
  border-width: 2px;
  border-style: solid;
  border-color:#987ffa;
  border-radius: 8px;
  background-color: ;
}

div:nth-child(1) {
  grid-column: 2;
  grid-row: 1;
}

ol li h2 {
  margin-top: 0;
}

}
